<img style="float: left; margin: 30px 15px 15px 15px;" src="https://pngimage.net/wp-content/uploads/2018/06/logo-iteso-png-5.png" width="300" height="500" /> 
    
    
### <font color='navy'> Simulación de procesos financieros. 

**Nombres:** Julio Olaf Gonzalez Guzman.
**Expediente** : 714007.

**Nombres:** xxx.
**Expediente** : xxxx.

**Fecha:** 10 de Septiembre de 2020.


**Profesor:** Oscar David Jaramillo Zuluaga.

# Tarea 2: Clase Simulación de procesos financieros

## Enunciado de tarea 
> Resolver los siguientes problemas en parejas, cada uno tendra que poner su propia solución a cada uno de los problemas

### Tarea:

1. Imagine una rutina contable utilizada en una librería. Funciona en una lista con sublistas, que se ven así:
![imagen.png](attachment:imagen.png)
Escriba un programa en Python, que devuelve una lista con tuplas de tamaño 2. Cada tupla consiste en el número de pedido y el costo total del pedido. El producto debe aumentarse en 10€ si el valor de la orden es inferior a 100,00 €. 
Escribe un programa Python usando unicamente las funciones **lambda y map**.

`orders = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]`

In [2]:
# Solución 1
# Julio Olaf Gonzalez Guzma
orders = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]
l = list(map(lambda x: [x[0],x[2]*x[3]] if x[2]*x[3] >= 100 else (x[0], x[2]*x[3]+10),orders))
l

[['34587', 163.8],
 ['98762', 284.0],
 ('77226', 108.85000000000001),
 ('88112', 84.97)]

In [3]:
# Solución 1.2 Pandas
# Julio Olaf Gonzalez Guzman
# Importamos pandas y numpy
import pandas as pd
import numpy as np
orders = pd.DataFrame(data= (["34587", "Learning Python, Mark Lutz", 4, 40.95],
                              ["98762", "Programming Python, Mark Lutz", 5, 56.80],
                              ["77226", "Head First Python, Paul Barry", 3,32.95],
                              ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]),
                       columns=['Order_Number', 'Book Title and Author', 'Quantity', 'Price_per_Item'])                
orders
result = pd.DataFrame(data = (orders['Price_per_Item']*orders['Quantity']), columns =['Result'])
result['Order_Number']=orders['Order_Number']
result= result[['Order_Number','Result']]
result

  Order_Number  Result
0        34587  163.80
1        98762  284.00
2        77226   98.85
3        88112   74.97

2. La misma librería, pero esta vez trabajamos en una lista diferente. Las sublistas de nuestras listas se ven así: 
[número de orden, (número de artículo, cantidad, precio por unidad), ... (número de artículo, cantidad, precio por unidad)] 

`orders = [[1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)], 
	       [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
	       [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
           [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]`

In [7]:
# Solución 2
# Julio Olaf Gonzalez Guzman.
from functools import reduce
orders = [[1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)], 
          [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
          [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
          [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]
n = lambda a,b: a+b
p = lambda x: x if x>=100 else x+10
result = list(map(lambda x: [x[0]] + list(map(lambda y: p(y[1]*y[2]),x[1:])),orders))
result = list(map(lambda x: (x[0], reduce(n,x[1:])),result))
result

[(1, 688.3299999999999),
 (2, 504.46000000000004),
 (3, 374.79999999999995),
 (4, 502.57)]

In [ ]:
# Solución 2.2 Pandas
# Julio Olaf Gonzalez Guzman.
import pandas as pd
import numpy as np
orders1 = pd.DataFrame(data= ([1, "5464", 4, 9.99, "8274",18,12.99, "9744", 9, 44.95],
                              [2, "5464", 9, 9.99, "9744", 9, 44.95],
                              [3, "5464", 9, 9.99, "88112", 11, 24.99],
                              [4, "8732", 7, 11.99, "7733",11,18.99, "88112", 5, 39.95]))
                                       
orders1=orders1.fillna(0)
a = ((orders1[2]*orders1[3]) + (orders1[5]*orders1[6]) + (orders1[8]*orders1[9])).apply(lambda x: x if x>=100 else x+10)
result =pd.DataFrame(a,columns=['Result'])
result['O']=orders1[0]
result= result[['O','Result']]
result

3. Resolver los anteriores ejercicios usando pandas (DataFrame)

4. Use filter to eliminate all words that are shorter than 4 letters from a list of words
`list='the notion of a lambda function goes all the way back to the origin of computer science'`

In [ ]:
# Solución 4
# Julio Olaf Gonzalez Guzman.
lista = 'the notion of a lambda function goes all the way back to the origin of computer science'
l = lista.split()
sol = list(filter(lambda x: len(x)>=4,l)) 
sol

5. Use filter to determine the percentage of Fahrenheit temperatures in a list are within the range 32 to 80

In [ ]:
# Solución 5
# Julio Olaf Gonzalez Guzman.
import numpy as np
np.random.seed(55555)
temperatures = np.random.uniform(25,110,30)
print(temperatures)

temperature=list(filter(lambda x: x>=32 and x<=80,temperatures))
porc= len(temperature)/len(temperatures)
porc

6. Use reduce to find the lower left corner (minimum x and minimum y value) for a list of point locations
> **Hint**: Explore the command `np.minimum.reduce`

In [5]:
# Solución 6
# Julio Olaf Gonzalez Guzman.
np.random.seed(55555)
point_xy = np.random.randint(0,100,[30,2])
# point_xy

# Función
x = np.minimum.reduce(point_xy)
#Compresion de lista y reduce
f = reduce(lambda a,b: a if (a < b) else b,[point_xy[i][0] for i in range(len(point_xy))])
a = reduce(lambda a,b: a if (a < b) else b,[point_xy[i][1] for i in range(len(point_xy))])
y = np.array([f,a])
x, y

NameError: name 'reduce' is not defined